@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
body{
    background-color: #874CCC;
    color: #000;
}
.container{
    width: 90%;
    max-width: 592px;
    margin: 100px auto 0;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.inputdiv{
    width: 100%;
    display: flex;
    margin: 10px 0;
    gap: 10px;
}
.inputdiv div{
    display: flex;
    gap: 10px;
}
.inputdiv i{
    position: relative;
    cursor: pointer;
    padding: 10px;
    background-color: #874CCC;
    color: #fff;
    border-radius: 3px;
    display: none;
}
i.active{
    display: block;
}
.inputdiv i:hover::after{
    position: absolute;
    bottom: -30px;
    left: -50%;
    padding: 5px;
    font-size: 12px;
    background-color: #874CCC;
    color: #fff;
    width: 100px;
}
.inputdiv i.fa-moon:hover::after{
    content: 'Night Mode';
}
.inputdiv i.fa-sun:hover::after{
    content: 'Day Mode';
}
.inputdiv button{
    cursor: pointer;
    padding: 6px 12px;
    border: none;
    outline: none;
    background-color: #874CCC;
    color: #fff;
}
.inputdiv input{
    flex: 1;
    border: 2px solid #874CCC;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    color: #874CCC;
    background-color: transparent;
}
.list-container{
    width: 100%;
    list-style: none;
}
.list-container li{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #874CCC;
}
.list-container li.delete{
    text-decoration: line-through;
    color: #555;
}
span.fa-trash{
    color: red;
    cursor: pointer;
    position: relative;
}
span.fa-trash:hover::after{
    position: absolute;
    bottom: -30px;
    left: -50%;
    padding: 5px;
    font-size: 12px;
    background-color: #874CCC;
    color: #fff;
    width: 100px;
    content: 'Delete item';
}

@media (max-width:414px) {
    .inputdiv{
        flex-direction: column;
    }   
    .inputdiv div{
        flex-direction: row;
        justify-content: center;
    }
}
